<mat-toolbar color="black">| Exercise List |</mat-toolbar>
<mat-card>
  <mat-accordion multi="true" *ngIf="posts.length > 0">
    <mat-expansion-panel [expanded]="false" *ngFor="let post of posts">
      <mat-expansion-panel-header>
        <h4>{{ post.name }}: {{post.setRange}} x {{post.repRange}}</h4>
      </mat-expansion-panel-header>
      <p>Type of exercise: {{ post.type }}</p>
      <p>{{post.description}}</p>

      <mat-action-row>
        <button mat-button color="primary">MODIFY</button>
        <button mat-button (click)="onModify(post._id)" color="warn">REMOVE</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
  <p class="info-text mat-body-1" *ngIf="posts.length <= 0"><a href="./create">No posts added yet! Click here to get started!</a>
</mat-card>`