.container{
    /* background-color: black; */
    border-color: blueviolet;
    padding-top: 10px;
    border-radius: 50px;
    /* border: 2px solid #73AD21; */
    width: 40%;
}

.toolbar{
    margin-top: 10px;
    font-size: 40px;
    border-radius: 15px;
    border: 3px solid #73AD21;
    border-color: blueviolet;
    background-color: #e1eae7;
    padding-left: 33%;
    opacity: .9;
}

.card{
    margin-top: 20px;
    border-radius: 15px;
    border: 3px solid rgb(25, 192, 150);
    background-color: #e1eae7;
    opacity: .9;
}

.item{
    border: 3px solid blueviolet;
    background-color: white;
}

h4{
    font-size: 25px;
}

.row{
    border-top: 3px solid black;
}

.buttonA{
    /* border: 3px solid blueviolet; */
    margin-right: 60%;
}

.buttonB{
    /* border: 3px solid blueviolet; */
    margin-right: 10%;
}

button:hover{
    background-color: teal;
    color: white;
}

.info-text{
    font-size: 20px;
}

.text{
    font-size: 20px;
}

a{
    color: black;
}

a:hover{
    background-color: teal;
    color: white;
}