<div class="container">
<mat-toolbar class="toolbar">| Exercise List |</mat-toolbar>
<mat-card class="card">
  <mat-accordion multi="true" *ngIf="posts.length > 0">
    <mat-expansion-panel [expanded]="flase" *ngFor="let post of posts" class="item">
      <mat-expansion-panel-header class="header">
        <h4>{{ post.name }}: {{post.setRange}} x {{post.repRange}}</h4>
      </mat-expansion-panel-header>
      <p class="text">Type of exercise: {{ post.type }}</p>
      <p class="text">{{post.description}}</p>
      <button class="buttonC" mat-button color="primary"><a href="https://www.google.ie/search?q={{post.name}}" target="_blank">FIND INFO</a></button>

      <mat-action-row class="row">
        <button class="buttonA" mat-button [routerLink]="['/edit', post._id]" color="primary">MODIFY</button>
        <button class="buttonB" mat-button (click)="onModify(post._id)" color="warn">REMOVE</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
  <p class="info-text" *ngIf="posts.length <= 0"><a href="./create">No posts added yet! Click here to get started!</a>
</mat-card>`
</div>