<mat-toolbar class="mainNavBar">
  <mat-toolbar-row class="mainRow">
    <span class="titleA">
       | PUSH | PULL | LEGS |
    </span>
    <span class="titleB">
        | AN EXERCISE DATABASE |
     </span>
  </mat-toolbar-row>

  <mat-toolbar-row class="subRow">
    <button class="button" mat-button [routerLink]="['/create']" color="Warn">| ADD EXERCISE |</button>
    <button class="button" mat-button [routerLink]="['/details']">| ALL EXERCISES |</button>
  </mat-toolbar-row>
</mat-toolbar>


<router-outlet></router-outlet>
