<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="title-center">
       | PUSH | PULL | LEGS |~~
    </span>
    <span class="title-right">
        | AN EXERCISE DATABASE |
     </span>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <button mat-button [routerLink]="['/create']" color="Warn">| ADD EXERCISE |</button>
    <button mat-button [routerLink]="['/details']">| ALL EXERCISES |</button>
    <button mat-button [routerLink]="['/search']">| SEARCH EXERCISE |</button>
  </mat-toolbar-row>
</mat-toolbar>


<router-outlet></router-outlet>
