.container{
    /* background-color: black; */
    border-color: blueviolet;
    padding-top: 10px;
    border-radius: 50px;
    /* border: 2px solid #73AD21; */
    width: 60%;
}

.toolbar{
    margin-top: 10px;
    font-size: 40px;
    border-radius: 15px;
    border: 3px solid #73AD21;
    border-color: blueviolet;
    background-color: #e1eae7;
    opacity: .9;
    padding-left: 33%;
}

.card{
    margin-top: 20px;
    border-radius: 15px;
    border: 3px solid rgb(25, 192, 150);
    background-color: #e1eae7;
    opacity: .9;
}

.form-group{
    background-color: e1eae7;
    font-size: 20px;
}
button{
    background-color: #42A948;
}

button:hover{
    background-color: teal;
    color: white;
}