.container{
    /* background-color: black; */
    border-color: blueviolet;
    padding-top: 10px;
    border-radius: 50px;
    /* border: 2px solid #73AD21; */
    width: 50%;
}

.toolbar{
    margin-top: 10px;
    font-size: 40px;
    border-radius: 15px;
    border: 3px solid #73AD21;
    border-color: blueviolet;
    background-color: #e1eae7;
    opacity: .9;
    padding-left: 35%;
}

.card{
    margin-top: 20px;
    border-radius: 15px;
    border: 3px solid rgb(25, 192, 150);
    background-color: #e1eae7;
    opacity: .9;
}

.form-group{
    background-color: e1eae7;
    font-size: 20px;
}

/* messcode, maybe delete? */
/* textarea{
   
    /* This ruins default border */
    /* background: url(../../assets/img/snatch.png) center center no-repeat; */
    /* background-size: 100%;
    -webkit-text-stroke: 1px black;
    color: yellow;
    
} */

button:hover{
    background-color: teal;
    color: white;
}